* {
    font-family: 'Lucinda sans';
}

h1 {
    color: #FFCC00;
    font-size: 70px;
}

h2 {
    font-size: 38px;
    color: #FFFF00;
}

h2 + p {
    font-style: italic;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    color: #FFCC00;
}

p {
    font-size: 18px;
    color: #FFFFFF;
}

body {
    background-color: #1E1E1E;
}
